<div class="container" id="blog-page">
  <div class="page-heading" data-aos="fade-up" data-aos-duration="600">
    <h1>Contact Us</h1>
    <p class="text-center">Welcome to our blog! Here, we share our insights, experiences, and knowledge on a range of
      topics alongside with eiLink news and events.</p>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d589.2852125603573!2d49.85915493962364!3d40.37716739549007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x877312682cfba1e7%3A0x4f8afd457cf4d650!2sEIGROUP%20MMC!5e0!3m2!1sen!2saz!4v1690193217855!5m2!1sen!2saz"
    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade" data-aos="fade-up" data-aos-duration="600"></iframe>
  <div class="row mt-5 p-3" data-aos="fade-up" data-aos-duration="600">
    <div class="col-12 col-lg-6">
      <h2>Address</h2>
      <h4>eiGroup<br>Keykab Khanim Safaraliyeva 14, Floor 2<br>AZ1010 Baku, Azerbaijan</h4>
    </div>
    <div class="col-12 col-lg-6">
      <h2>Call Us</h2>
      <h4>m: +994 50 460 74 60</h4>
    </div>
    <div class="col-12 col-lg-6">
      <h2>Reach Us</h2>
      <h4>We always looking for talented people, soo let’s work together.<br>info@ei-g.com </h4>
    </div>
  </div>
  <div class="p-3"  data-aos="fade-up" data-aos-duration="600">
    <h2>Contact Form</h2>
    <form ngNoForm target="_blank" action="" method="POST">

      <label for="">Your Name</label>
      <br>
      <input type="text" name="First Name" required>

      <br>

      <label for="">Your Email</label>
      <br>
      <input type="email" name="Email" required>

      <br>

      <label for="">Phone Number</label>
      <br>
      <input type="phone" name="phone" required>

      <br>

      <label for="">Your Message</label>
      <br>
      <textarea rows="8" cols="80" name="message" required></textarea>

      <br>

      <input class="submit" type="submit" value="Submit">
    </form>
  </div>
</div>
