<div class="container" id="researchArea-page">
    <div class="page-heading" data-aos="fade-up" data-aos-duration="600">
        <h1>Research Areas</h1>
        <p class="text-center">At eiLink we specialize in a wide range of disciplines,
          harnessing our multi-domain knowledge to drive excellence
          in everything we do.  We are passionate about what we do and are constantly seeking new ways to innovate and improve our solutions.
          Our research areas span a wide range of fields, including but not limited to:</p>
    </div>
    <div class="row research-areas-card gy-4">
        <div class="col-12 col-lg-4 text-center research-area-card popup-animation" style="--animation-order: {{ area.id }}" *ngFor="let area of researchAreas">
            <div class="area-card d-flex flex-column align-items-center justify-content-between">
                <img src="{{ area.imgSrc + area.id + '.svg'}}" alt="">
                <h2>{{ area.title }}</h2>
                <p>{{ area.description | slice:0:210 }}...</p>
                <button routerLink="/research-areas/{{ area.id }}">Learn More</button>
            </div>
        </div>
    </div>
</div>
<app-careers-footer></app-careers-footer>
