:root {
  --white: #FFFFFF;
  --black: #000000;
  --grey: #7B7B7B;
  --darkBlue: #144571;
  --blue: #2D7B9B;
  --pink: #F16575;
  --lightPink: #F58B83;
  --orange: #FAA32D;
  --textDark: #121E2B;
  --text: #646464;
}
