
/* Black */

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-Black.otf') format('otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-BlackItalic.otf') format('otf');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Heavy */

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-Heavy.otf') format('otf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-HeavyItalic.otf') format('otf');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Bold */

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-BoldItalic.otf') format('otf');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Semibold */

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-Semibold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-SemiboldItalic.otf') format('otf');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Medium */

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-MediumItalic.otf') format('otf');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Regular */

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-RegularItalic.otf') format('otf');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Light */

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-LightItalic.otf') format('otf');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Thin */

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-Thin.otf') format('otf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-ThinItalic.otf') format('otf');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Ultralight */

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-Ultralight.otf') format('otf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SF-Pro-Display-UltralightItalic.otf') format('otf');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}


