<div class="container">
  <div class="section-heading-about" data-aos="fade-up" data-aos-duration="600">
    <div class="row align-items-center">
      <div class="col-12 p-3">
        <h1>Research & Development Partners for Your Business</h1>
        <p>In 2015, aiming to enhance research capability in education, a group of experts from the Oil and Gas industry
          in collaboration with Khazar University established eiLink R&D Center.
          Today, our team of experts transforms ideas, studies, and developments into brand-new scientific and
          engineering R&D Products and Innovative Solutions that have direct and tangible impacts to a variety of
          industries and businesses.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-5 mb-5" data-aos="fade-up" data-aos-duration="600">
      <div class="stats d-flex flex-column flex-lg-row justify-content-center text-center">
        <div class="projects-stats">
          <img src="assets/lorem-img/projets.png" alt="" width="80px">
          <div class="projects">Projects<br><span>40+</span></div>
        </div>
        <div class="divider"></div>
        <div class="publications-stats">
          <img src="assets/lorem-img/publications.png" alt="" width="80px">
          <div class="publications">Publications<br><span>10+</span></div>
        </div>
        <div class="divider"></div>
        <div class="clients-stats">
          <img src="assets/lorem-img/clients.png" alt="" width="80px">
          <div class="clients">Clients<br><span>8+</span></div>
        </div>
      </div>
    </div>
    <div class="col-12 text-center" data-aos="fade-up" data-aos-duration="600">
      <button routerLink="/about">Learn More</button>
    </div>
  </div>
</div>
