<div class="container">
  <div class="row">
    <!-- <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="600">
      <div class="about-left">
        <img src="assets/lorem-img/about.svg" alt="" width="100%">
        <div class="row">
          <div class="col-4 projects"><span>20+</span><br>Projects</div>
          <div class="col-4 publications"><span>10+</span><br>Publications</div>
          <div class="col-4 clients"><span>8+</span><br>Clients</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 pl-5">
      <div class="about-right">
        <h5 data-aos="fade-up" data-aos-duration="600">About Us</h5>
        <h1 data-aos="fade-up" data-aos-duration="600">Research & Development Partners for Your Business</h1>
        <p data-aos="fade-up" data-aos-duration="600">In 2015, aiming to enhance research capability in education, a
          group of experts from the Oil and Gas Industry in collaboration with Khazar University established eiLink R&D
          Center.
          <br><br>
          Today, eiLink is a business unit that offers value-added services to customers, addressing their emerging
          technical and technological challenges through research, development and innovation. Our team of experts
          transforms ideas, studies, and developments into brand-new R&D Products and Innovative Solutions that have
          direct and tangible links to the industry and business.
        </p>
        <button routerLink="/about" data-aos="fade-up" data-aos-duration="600">Learn More</button>
      </div>
    </div> -->
    <div class="col-12 about">
      <h5 data-aos="fade-up" data-aos-duration="600">About Us</h5>
      <h1 data-aos="fade-up" data-aos-duration="600">Research & Development Partners for Your Business</h1>
    </div>
    <div class="col-12 col-lg-6 about" data-aos="fade-up" data-aos-duration="600">
      <p>In 2015, aiming to enhance research capability in education, a
        group of experts from the Oil and Gas Industry in collaboration with Khazar University established eiLink R&D
        Center.In 2015, aiming to enhance research capability in education, a
        group of experts from the Oil and Gas Industry in collaboration with Khazar University established eiLink R&D
        Center.</p>
    </div>
    <div class="col-12 col-lg-6 about" data-aos="fade-up" data-aos-duration="600">
      <p>Today, eiLink is a business unit that offers value-added services to customers, addressing their emerging
        technical and technological challenges through research, development and innovation. Our team of experts
        transforms ideas, studies, and developments into brand-new R&D Products and Innovative Solutions that have
        direct and tangible links to the industry and business.</p>
    </div>
    <div class="col-12 mt-5 mb-5" data-aos="fade-up" data-aos-duration="600">
      <div class="stats d-flex flex-row justify-content-center text-center">
        <div class="projects-stats">
          <img src="assets/lorem-img/projets.png" alt="" width="80px">
          <div class="projects">Projects<br><span>40+</span></div>
        </div>
        <div class="divider"></div>
        <div class="publications-stats">
          <img src="assets/lorem-img/publications.png" alt="" width="80px">
          <div class="publications">Publications<br><span>10+</span></div>
        </div>
        <div class="divider"></div>
        <div class="clients-stats">
          <img src="assets/lorem-img/clients.png" alt="" width="80px">
          <div class="clients">Clients<br><span>8+</span></div>
        </div>
      </div>
    </div>
    <div class="col-12 text-center" data-aos="fade-up" data-aos-duration="600">
      <button routerLink="/about">Learn More</button>
    </div>
  </div>
</div>
