<div class="post-details">
  <div *ngIf="post">
    <div class="container">
      <div class="row pt-5 pb-5">
        <div class="col-lg-5 col-12" data-aos="fade-right" data-aos-duration="600">
          <img src="{{ post.cover }}" alt="" width="100%">
        </div>

        <div class="col-lg-7 col-12 p-5" *ngIf="post.id != 4" data-aos="fade-left" data-aos-duration="600">
          <h1>{{ post.title }}</h1>
          <p>{{ post.description }}</p>
        </div>

        <div class="col-lg-7 col-12 p-5" *ngIf="post.id == 4" data-aos="fade-left" data-aos-duration="600">
          <h1>{{ post.title }}</h1>
          <p>Initially created with the purpose of strengthening educational research capacity, eiLink is now a business unit offering value-added services addressing emerging technical and technological issues.
            We strive to transform ideas, studies, and developments into innovative R&D products to expand our customers’ impact as well as solving challenges they face.
          </p>
          <br><br>
          <p>🔗 Learn more about us: <a href="https://eilink.az/home">eilink.az</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
