p {
  white-space: pre-line;
  line-height: 23px;
}

img {
  border-radius: 10px;
}

.post-details {
  min-height: 73vh;
}

ul {
  font-size: 15px;
}

span {
  font-size: 15px;
  color: var(--blue);
}

a {
  font-size: 14px;
  color: var(--blue) !important;
  cursor: pointer;
}

a:hover {
  color: var(--darkBlue) !important;
}

