<div class="container" id="blog-page">
    <div class="page-heading" data-aos="fade-up" data-aos-duration="600">
        <h1>Blog</h1>
        <p class="text-center">Welcome to our blog! Here, we share our insights, experiences, and knowledge on a range of topics alongside with eiLink news and events.</p>
    </div>

    <div class="blog-posts">
      <div class="blog-card" data-aos="fade-up" data-aos-duration="600"
        *ngFor="let post of posts" style="background: url('{{post.cover}}');">
        <div class="blog-details">
          <button routerLink="/blog/{{ post.id }}">Read More</button>
        </div>
      </div>
    </div>
</div>
<app-careers-footer></app-careers-footer>
