<footer data-aos="fade-up" data-aos-duration="600">
    <div class="container row m-auto">
        <div class="breaking-line col-12 mb-5"></div>
        <div class="col-12 col-lg-3">
            <img src="assets/logos/eiLink.svg" alt="" width="130px">
            <div class="partnership">
                <h4>Founded in Partnership</h4>
                <div>
                    <img (click)="navigateTo('https://ei-g.com/')" style="margin-right: 10px;" src="assets/logos/eigroup.svg" alt="" height="40px">
                    <img (click)="navigateTo('https://www.khazar.org/')" src="assets/logos/khazar.svg" alt="" height="37pxs">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 links">
            <h6>Resources</h6>
            <ul>
                <li routerLink="/publications">Publications</li>
                <li routerLink="/projects">Projects</li>
                <li routerLink="/research-areas">Services</li>
            </ul>
        </div>
        <div class="col-12 col-lg-3 links">
            <h6>Company</h6>
            <ul>
                <li routerLink="/blog">Blog</li>
                <li routerLink="/about">About</li>
                <li routerLink="careers">Careers</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="col-12 col-lg-3 contacts">
            <h6>Contacts</h6>
            <ul>
                <li>Keykab Khanim Safaraliyeva 14, Floor 2<br>AZ1010 Baku, Azerbaijan</li>
                <li>+994 50 460 74 60</li>
                <li>eilink@khazar.org</li>
            </ul>
        </div>
        <div class="breaking-line line-bottom col-12"></div>
        <div class="col-12 col-lg-6 text-left copyright">
            <h5>Copyright © 2023 <span>eiLink</span>. All rights reserved</h5>
        </div>
        <div class="col-12 col-lg-6 text-right copyright">
            <h5>Developed by <span>Jamil Alizada</span></h5>
        </div>
    </div>
</footer>
