<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary pt-4 pb-4">
    <div class="container">
      <a class="navbar-brand" routerLink="/home"><img src="assets/logos/eiLink.svg" height="60px" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/about" routerLinkActive="active" (click)="toggleNavBar()">Philosophy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/research-areas" routerLinkActive="active" (click)="toggleNavBar()">Research Areas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/projects" routerLinkActive="active" (click)="toggleNavBar()">Projects & Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/publications" routerLinkActive="active" (click)="toggleNavBar()">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/people" routerLinkActive="active" (click)="toggleNavBar()">People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/careers" routerLinkActive="active" (click)="toggleNavBar()">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/blog" routerLinkActive="active" (click)="toggleNavBar()">Blog</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="talk-button" (click)="toggleNavBar()">Let's Talk</button>
        </form>
      </div>
    </div>
  </nav>
