<div id="about-page">
  <div class="about-header" style="background: url('assets/about/about-header.svg');" data-aos="fade-up"
    data-aos-duration="600">
    <h1 class="text-center">About Us</h1>
  </div>
  <div class="about-content container">
    <div class="row">

      <div class="p-3 col-12" data-aos="fade-up" data-aos-duration="600">
        <p>
          Welcome to eiLink Research and Development Center, where education links with industry for the common goal of
          finding practical, smart, and innovative solutions to complex technical problems.
          <br><br>
          In 2015, aiming to develop research capability in education, Khazar University and a group of professionals
          from Oil and Gas Industry collaboratively established eiLink R&D Center (which stands for Education to
          Industry Link). The initial idea behind this center was to create a mutual opportunity for Education and
          Industry to benefit from each other through collaborative research and scientific studies.
        </p>
      </div>

      <div class="col-12 mt-3 mb-5"
        style="background: url('assets/lorem-img/about-3.jpg'); border-radius: 15px; height: 500px;  background-position: center; background-size: cover;"
        data-aos="fade-up" data-aos-duration="600">
      </div>

      <div class="p-3 col-12" data-aos="fade-up" data-aos-duration="600">
        <p>
          Today eiLink is much more than research and development centers, it is a business unit that provides
          value-added services addressing customers' emerging technical and technological challenges. Here, ideas,
          studies, and developments turn into brand-new R&D products and Innovative Solutions that have direct and
          tangible links to the industry and business.
        </p>
      </div>


      <div class="col-12 mt-3 mb-5"
        style="background: url('assets/lorem-img/about-2.jpg'); border-radius: 15px; height: 450px;  background-position: center; background-size: cover;"
        data-aos="fade-up" data-aos-duration="600">
      </div>

      <div class="p-3 col-12" data-aos="fade-up" data-aos-duration="600">
        <p>
          Activities at eiLink R&D Center are focused on high-quality researchers, which is fundamental for the delivery
          of sophisticated technical solutions, services, and products driven by applicable, publishable, and
          commercially viable results.Their eager desire for a more nuanced understanding of fundamental and applied
          science is a powerful motivation for research. The compelling driver, however, is the pursuit of commercial
          success. To support the paradigm shift of R&D in the country, eiLink R&D Center seeks to foster an environment
          in which these forces can interact and reinforce one another.
        </p>
      </div>

      <h1 class="text-center pb-3 pt-5" style="color: var(--darkBlue);" data-aos="fade-up" data-aos-duration="600">Our
        Partners</h1>
      <div class="row align-items-center" data-aos="fade-up" data-aos-duration="600">
        <div class="col-12 partners" data-aos="fade-up" data-aos-duration="600">
          <img src="assets/logos/sdf.svg" alt="">
          <img src="assets/logos/aioc.svg" alt="">
          <img src="assets/logos/spe.svg" alt="">
          <img src="assets/logos/bp.svg" alt="">
          <img src="assets/logos/khazar.svg" alt="">
          <img src="assets/logos/agrodairy.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <app-careers-footer></app-careers-footer>
