.about-content {
  //max-width: 1000px;
  //margin: auto;
  //padding-bottom: 50px;

  h1 {
    font-weight: 500;
    font-size: 26px;
  }
}

h4 {
  color: var(--darkBlue);
  line-height: 35px;
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
}

.people {
  background-position: center !important;
  background-size: cover !important;
  color: var(--white);
  height: 525px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    color: var(--white);
    border-color: var(--white);
  }
}

.team-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 500px;
  align-content: center;
}

.image {
  width: 32%;
  background-color: orange;
  margin: 5px;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 45px;
  border-radius: 2px;
  background-position: center !important;
  background-size: cover !important;
}

.about-header {
  background-position: center !important;
  background-size: cover !important;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    color: var(--white);
    text-align: center;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    color: var(--white);
    letter-spacing: 1px;
    max-width: 660px;
  }
}

button {
  font-weight: 500;
  font-size: 14px;
  width: 150px;
  margin-left: 40px;
  color: var(--darkBlue);
  outline: none;
  border: none;
  border: 1px solid var(--darkBlue);
  border-radius: 70px;
  background: transparent;
  padding: 7px 20px;
  transition: all 0.2s linear !important;
}

button:hover {
  color: var(--white);
  background: var(--darkBlue);
  //transition: all .2s linear;
}

.value {
  font-size: 16px;
  color: var(--darkBlue);
  padding-top: 10px;
}

.partners {
  display: flex;
  justify-content: space-around;
}
