<div id="about-page">
  <div class="about-header" style="background: url('assets/about/about-header.svg');" data-aos="fade-up"
    data-aos-duration="600">
    <h1 class="text-center">Philosophy</h1>
  </div>
  <div class="about-content container">
    <div class="row">

      <div class="p-3 col-12" data-aos="fade-up" data-aos-duration="600">
        <h4>
          Youth spirit and scientific approach are at the forefront of our R&D industry. Our team is composed of
          young, passionate, and driven professionals who are committed to pushing the boundaries of innovation and
          technology.
        </h4>
      </div>

      <div class="mt-3 mb-3 col-12 row" data-aos="fade-up" data-aos-duration="600">
        <div class="col-lg-3 col-12 d-flex flex-column justify-content-center align-items-center">
          <img src="assets/about/value-1.png" alt="" width="auto" height="80px">
          <h3 class="value" style="color: var(--darkBlue)">Passion</h3>
        </div>

        <div class="col-lg-3 col-12 d-flex flex-column justify-content-center align-items-center">
          <img src="assets/about/value-2.png" alt="" width="auto" height="80px">
          <h3 class="value" style="color: var(--blue)">Responsibility</h3>
        </div>

        <div class="col-lg-3 col-12 d-flex flex-column justify-content-center align-items-center">
          <img src="assets/about/value-3.png" alt="" width="auto" height="80px">
          <h3 class="value" style="color: var(--pink)">Openness to Criticism</h3>
        </div>

        <div class="col-lg-3 col-12 d-flex flex-column justify-content-center align-items-center">
          <img src="assets/about/value-4.png" alt="" width="auto" height="80px">
          <h3 class="value" style="color: var(--orange)">Care</h3>
        </div>
      </div>

      <div class="col-12" data-aos="fade-up" data-aos-duration="600">
        <h4>
          We believe that every member of our team has something valuable to contribute, and we work together to
          create a culture of inclusivity and openness in the R&D and Innovations sector.
        </h4>
      </div>

      <div class="col-12 pt-3 pb-3" data-aos="fade-up" data-aos-duration="600">
        <img src="assets/about/about-team.svg" alt="" width="100%">
      </div>

      <div class="p-3 col-12" data-aos="fade-up" data-aos-duration="600">
        <h4>
          Our office is more than just a place to work. We also value work-life balance and encourage our team to
          pursue their passions outside of work. Whether it's playing sports, volunteering in the community, or pursuing
          a hobby, we believe that a happy and fulfilled team is a more productive team.
        </h4>
      </div>

      <div class="col-12 team">
        <div class="team-footer"  data-aos="fade-up" data-aos-duration="600">
          <div class="row m-auto align-items-center">
              <div class="col-12 col-lg-8">
                  <h1>Meet the people behind our R&D and Innovation projects.</h1>
              </div>
              <div class="col-12 col-lg-4 button">
                  <button routerLink="/people">Our People</button>
              </div>
          </div>
      </div>
      </div>

      <div class="p-3 col-12" data-aos="fade-up" data-aos-duration="600">
        <h4>
          So if you're looking for a dynamic and innovative workplace where youth spirit and scientific approach are
          valued and embraced, then our office is the place for you. Join our team and help us create a better tomorrow
          through the power of technology and innovation.
        </h4>
      </div>

      <button data-aos="fade-up" data-aos-duration="600">Explore Careers</button>

    </div>
  </div>
</div>
