<div id="about-page">
  <div class="about-header" style="background: url('assets/about/about-header.svg');" data-aos="fade-up"
    data-aos-duration="600">
    <h1 class="text-center">Philosophy</h1>
  </div>
  <div class="about-content container">
    <div class="row">

      <div class="p-3 col-12" data-aos="fade-up" data-aos-duration="600">
        <h4>
          Our R&D industry is constantly evolving, and we believe that the best way to stay ahead of the curve is by
          fostering a culture of creativity and experimentation. At our core, we value the combination of youth spirit
          and scientific approach, which allows us to tackle problems with fresh perspectives and cutting-edge
          solutions.
          <br><br>
          At eiLink, we are committed to pushing the boundaries of what is possible with AI and ML, and we strive to
          stay at the forefront of innovation by consistently exploring new avenues of research and development. We have
          a strong DNA of collaboration with universities and institutions, starting with our founding partnership with
          Khazar University. To support this mission, we offer programs that provide resources and support to students,
          recent graduates, and young professionals for their academic and professional growth.
        </h4>
      </div>

      <div class="mt-3 mb-3 col-12 row" data-aos="fade-up" data-aos-duration="600">
        <div class="col-lg-3 col-12 d-flex flex-column justify-content-center align-items-center">
          <img src="assets/about/value-1.png" alt="" width="auto" height="80px">
          <h3 class="value" style="color: var(--darkBlue)">Passion</h3>
        </div>

        <div class="col-lg-3 col-12 d-flex flex-column justify-content-center align-items-center">
          <img src="assets/about/value-2.png" alt="" width="auto" height="80px">
          <h3 class="value" style="color: var(--blue)">Responsibility</h3>
        </div>

        <div class="col-lg-3 col-12 d-flex flex-column justify-content-center align-items-center">
          <img src="assets/about/value-3.png" alt="" width="auto" height="80px">
          <h3 class="value" style="color: var(--pink)">Openness to Criticism</h3>
        </div>

        <div class="col-lg-3 col-12 d-flex flex-column justify-content-center align-items-center">
          <img src="assets/about/value-4.png" alt="" width="auto" height="80px">
          <h3 class="value" style="color: var(--orange)">Care</h3>
        </div>
      </div>

      <div class="col-12" data-aos="fade-up" data-aos-duration="600">
        <h4>
          We believe that every member of our team has something valuable to contribute, and we work together to
          create a culture of inclusivity and openness in the R&D and Innovations sector.
        </h4>
      </div>

      <div class="team-gallery" data-aos="fade-up" data-aos-duration="600">
        <div class="image" style="height: 150px; background: url('assets/about/team-1.svg');"></div>
        <div class="image" style="height: 250px; background: url('assets/about/team-2.svg');"></div>
        <div class="image" style="height: 250px; background: url('assets/about/team-3.svg');"></div>
        <div class="image" style="height: 150px; background: url('assets/about/team-4.svg');"></div>
        <div class="image" style="height: 150px; background: url('assets/about/team-5.svg');"></div>
        <div class="image" style="height: 250px; background: url('assets/about/team-6.svg');"></div>
      </div>

      <div class="p-3 col-12" data-aos="fade-up" data-aos-duration="600">
        <h4>
          Our office is more than just a place to work. We also value work-life balance and encourage our team
                to pursue their passions outside of work. Whether it's playing sports, volunteering in the community, or
                pursuing a hobby, we believe that a happy and fulfilled team is a more productive team.
        </h4>
      </div>

      <button data-aos="fade-up" data-aos-duration="600">Meet the Team</button>

      <!--  <div class="p-3 col-12" data-aos="fade-up" data-aos-duration="600">
        <h4>
          So if you're looking for a dynamic and innovative workplace where youth spirit and scientific approach are
          valued and embraced, then our office is the place for you. Join our team and help us create a better tomorrow
          through the power of technology and innovation.
        </h4>
      </div>

      <button data-aos="fade-up" data-aos-duration="600">Explore Careers</button> -->

    </div>
  </div>

<!--   <div class="people" style="background: url('assets/about/about-people.jpg');">
    <div class="container row m-auto about-content">
      <div class="col-12">
        <div class="" data-aos="fade-up" data-aos-duration="600">
          <div class="row m-auto align-items-center">
            <div class="col-12 text-center">
              <h1>OUR PEOPLE</h1>
              <h4>Our office is more than just a place to work. We also value work-life balance and encourage our team
                to pursue their passions outside of work. Whether it's playing sports, volunteering in the community, or
                pursuing a hobby, we believe that a happy and fulfilled team is a more productive team.</h4>
              <button routerLink="/people">Meet the Team</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</div>
<app-careers-footer></app-careers-footer>
