<div class="life">
  <div class="careers-header" data-aos="fade-up" data-aos-duration="600">
    <h1 class="text-center">Life at eiLink</h1>
    <p class="text-center">eiLink presents an appealing professional environment that provides distinctive avenues for
      growth and advancement to individuals possessing expertise and passion.</p>
  </div>
</div>
<div class="careers-content container">
  <div class="row">

    <h1 class="text-center" data-aos="fade-up" data-aos-duration="600">Supportive
      Culture</h1>
    <div class="p-3 col-12" data-aos="fade-up" data-aos-duration="600">
      <p>
        Preserving the welfare of our people and valuing their opinions are essential principles. Our aim is to
        establish a nurturing and encouraging environment based on individual dedication and accountability,
        which will attract, involve, and retain a wide range of highly skilled and diverse individuals.
      </p>
    </div>

    <div class="col-12 mt-3 mb-5"
      style="background: url('assets/lorem-img/careers-1.jpg'); border-radius: 15px; height: 500px;  background-position: top; background-size: cover;"
      data-aos="fade-up" data-aos-duration="600">
    </div>

    <h1 class="text-center" data-aos="fade-up" data-aos-duration="600">Values</h1>

    <div class="mt-3 mb-5 col-12 row m-auto" data-aos="fade-up" data-aos-duration="600">
      <div class="col-lg-3 col-12 d-flex flex-column justify-content-center align-items-center values">
        <img src="assets/about/value-1.png" alt="" width="auto" height="80px">
        <h3 class="value">Inspiration</h3>
      </div>

      <div class="col-lg-3 col-12 d-flex flex-column justify-content-center align-items-center values">
        <img src="assets/about/value-2.png" alt="" width="auto" height="80px">
        <h3 class="value">Responsibility</h3>
      </div>

      <div class="col-lg-3 col-12 d-flex flex-column justify-content-center align-items-center values">
        <img src="assets/about/value-3.png" alt="" width="auto" height="80px">
        <h3 class="value">Receptiveness</h3>
      </div>

      <div class="col-lg-3 col-12 d-flex flex-column justify-content-center align-items-center values">
        <img src="assets/about/value-4.png" alt="" width="auto" height="80px">
        <h3 class="value">Care</h3>
      </div>
    </div>

    <div class="col-12 mt-3 mb-5"
      style="background: url('assets/lorem-img/life-2.jpg'); border-radius: 15px; height: 550px;  background-position: top; background-size: cover;"
      data-aos="fade-up" data-aos-duration="600">
    </div>

    <h1 class="text-center" data-aos="fade-up" data-aos-duration="600">Benefits</h1>
    <div class="p-3 col-12 mb-5" data-aos="fade-up" data-aos-duration="600">
      <p>
        Understanding that a fulfilling life extends beyond mere employment, we are committed to facilitating our
        employees in achieving a work-life balance. To accomplish this, eiLink provides attractive benefits package
        to our employees.
      </p>
      <div class="benefits">
        <div class="benefit one">
          <h2>Flexible Working Arrangements</h2>
          <p>We offer employees adaptable working hours, allowing you to
            maintain a harmonious integration of work and leisure.</p>
        </div>
        <div class="benefit two">
          <h2>Renumeration</h2>
          <p>We offer a truly competitive salary and bonuses system and opportunity to join
            endowment life insurance program for providing a very high level of financial security in the event of
            accidents.</p>
        </div>
        <div class="benefit three">
          <h2>Medical Insurance</h2>
          <p>We provide employees with Medical insurance for all family members.</p>
        </div>
        <div class="benefit four">
          <h2>Wellness Program</h2>
          <p>We provide employees with annual membership to 100+ gyms.</p>
        </div>
        <div class="benefit five">
          <h2>Childcare Support Program</h2>
          <p>eiLink is distinguished by its focus on nurturing and advancing the
            progress and well-being of every child and family in its care. We give parents the opportunity to balance
            their work and home lives, provide children with full medical insurance and offer them free
            membership for attending different classes and entertainment zones.</p>
        </div>
      </div>
    </div>

  </div>
</div>
