<main>
    <h1>Research and Development for the better future of businesses and industries</h1>
    <h6>eiLink is an Azerbaijan-based Research and Development center where industry challenges are being tackled.</h6>
    <button routerLink="/about">About Our R&D Center</button>
</main>
<section id="partners">
    <app-partners></app-partners>
</section>
<section id="about">
    <app-about></app-about>
</section>
<section id="research-areas">
    <app-research-areas></app-research-areas>
</section>
<section id="projects">
    <app-projects></app-projects>
</section>
<section id="blog">
    <app-blog></app-blog>
</section>
<section id="careers-footer">
    <app-careers-footer></app-careers-footer>
</section>