<video autoplay [muted]="true" loop playsinline preload="auto" onloadedmetadata="this.muted = true" id="bgvid" poster="assets/lorem-img/eilink_poster.jpg">
  <source src="/assets/lorem-img/thinkthank.mp4" type="video/mp4">
</video>
<main>
    <h1 data-aos="fade-up" data-aos-duration="600">Research, Development and innovation for the better future of businesses and industries</h1>
    <button routerLink="/about" data-aos="fade-up" data-aos-duration="600">About Our R&D Center</button>
</main>
<section id="partners" data-aos="fade-up" data-aos-duration="600">
    <app-partners></app-partners>
</section>
<section id="about" data-aos="fade-up" data-aos-duration="600">
    <app-about></app-about>
</section>
<section id="research-areas" data-aos="fade-up" data-aos-duration="600">
    <app-research-areas></app-research-areas>
</section>
<section id="projects" data-aos="fade-up" data-aos-duration="600">
    <app-projects></app-projects>
</section>
<section id="blog" data-aos="fade-up" data-aos-duration="600">
    <app-blog></app-blog>
</section>
<section id="careers-footer">
    <app-careers-footer></app-careers-footer>
</section>
