<video autoplay [muted]="true" loop playsinline preload="auto" onloadedmetadata="this.muted = true" id="bgvid">
  <source src="/assets/lorem-img/loop_bg.mp4" type="video/mp4">
</video>
<main>
    <h1>Research, Development and Innovation for The Better Future of Businesses and Industries</h1>
    <button routerLink="/about">About Our R&D Center</button>
</main>
<div class="seperator"></div>
<section id="about">
  <app-about></app-about>
</section>
<section id="research-areas">
  <app-research-areas></app-research-areas>
</section>
<section id="projects">
  <app-projects></app-projects>
</section>
<section id="blog">
  <app-blog></app-blog>
</section>
<section id="partners">
    <app-partners></app-partners>
</section>
<section id="careers-footer">
    <app-careers-footer></app-careers-footer>
</section>
