<div class="container">
  <div class="section-heading" data-aos="fade-up" data-aos-duration="600">
    <div class="row align-items-center">
      <div class="col-12">
        <h1>Research Areas</h1>
        <p>Our company is dedicated to innovative research across various domains, including Oil & Gas Upstream,
          Development of Artificial Intelligence (ML & DL) frameworks, etc. By exploring these cutting-edge areas, we
          strive to drive forward breakthroughs and contribute to the advancement of various industries.</p>
      </div>

    </div>
  </div>
  <div class="row research-areas-card gy-4">
    <div class="col-12 col-lg-4 text-center research-area-card popup-animation" style="--animation-order: {{ area.id }}"
      *ngFor="let area of researchAreas | paginate: {itemsPerPage: 3, currentPage: 1}">
      <div class="area-card d-flex flex-column align-items-center justify-content-between">
        <img src="{{ area.imgSrc + area.id + '.svg'}}" alt="">
        <h2>{{ area.title }}</h2>
        <p>{{ area.description | slice:0:210 }}...</p>
        <button routerLink="/research-areas/{{ area.id }}">Learn More</button>
      </div>
    </div>
  </div>
  <div class="m-auto text-center">
    <button class="view-all" routerLink="/research-areas">View All</button>
  </div>
</div>
