<div class="container">
    <div class="section-heading" data-aos="fade-up" data-aos-duration="600">
        <h1>Research Areas</h1>
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac
                    aliquet odio mattis.</p>
            </div>
            <div class="col-12 col-lg-6">
                <button routerLink="/research-areas">View All Research Areas<i class="bi bi-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="row research-areas-items">
        <div class="col-12 col-lg-4 p-0" data-aos="fade-up" data-aos-duration="600">
            <img src="assets/lorem-img/ra-1.svg" alt="" width="100%">
            <h3>Geology & Geophysics</h3>
        </div>
        <div class="col-12 col-lg-4 p-0" data-aos="fade-up" data-aos-duration="600">
            <img src="assets/lorem-img/ra-2.svg" alt="" width="100%">
            <h3>Oil & Gas Production Technology</h3>
        </div>
        <div class="col-12 col-lg-4 p-0" data-aos="fade-up" data-aos-duration="600">
            <img src="assets/lorem-img/ra-3.svg" alt="" width="100%">
            <h3>Drilling & Well Integrity</h3>
        </div>
    </div>
</div>