<div class="container">
    <div class="section-heading-dark">
        <h1>Projects</h1>
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac
                    aliquet odio mattis.</p>
            </div>
            <div class="col-12 col-lg-6">
                <button routerLink="/projects">View All Projects<i class="bi bi-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>