<div class="container">
  <div class="section-heading-dark" data-aos="fade-up" data-aos-duration="600">
    <div class="row align-items-center">
      <div class="col-12">
        <h1>Projects & Products</h1>
        <p>Discover the remarkable projects and innovative products that eiLink has successfully brought to life. With a
          track record of excellence and a commitment to cutting-edge solutions, we have delivered groundbreaking
          projects and developed transformative products across various industries. </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ngb-carousel>
        <ng-template class="slide-item" ngbSlide *ngFor="let project of projects | paginate: {itemsPerPage: 8, currentPage: 1}">
          <div class="picsum-img-wrapper">
            <img src="{{ 'assets/projects/slider-images/project-' + project.id + '-slider.jpg' }}" width="100%">
          </div>
          <div class="carousel-caption">
            <h1 routerLink="/projects/{{ project.id }}">
              {{ project.title }}
            </h1>
            <p> {{ project.previewText }}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <div class="m-auto text-center">
    <button class="view-all" routerLink="/projects">View All</button>
  </div>
</div>
