<div class="container" id="projects">
    <div class="page-heading">
        <h1>Projects & Products</h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
            interdum, ac
            aliquet odio mattis.</p>
    </div>
    <div class="row projects-card gy-5">
        <div class="col-12 col-lg-4" *ngFor="let project of projects">
            <img src="{{ 'assets/projects/project-' + project.id + '.svg' }}" alt="" width="100%">
            <h2>{{ project.title }}</h2>
            <h4>{{ project.date }}</h4>
            <span>{{ project.tag }}</span>
        </div>
    </div>
</div>