<div class="container" id="projects-page">
  <div class="page-heading" data-aos="fade-up" data-aos-duration="600">
    <h1>Projects & Products</h1>
    <p class="text-center">We are committed to delivering projects and products that are not only innovative and
      reliable but also aligned with our core values of sustainability and social responsibility.</p>
  </div>
  <div class="row mb-5" data-aos="fade-up" data-aos-duration="600">
    <div class="col-12 text-center">
      <button [class.active]="showAll" (click)="filterButtons('all')">All</button>
      <button [class.active]="showProjects" (click)="filterButtons('projects')">Projects</button>
      <button [class.active]="showProducts" (click)="filterButtons('products')">Products</button>
    </div>
  </div>
  <div *ngIf="showProjects == true" class="row projects-card gy-5">
    <div class="col-12 col-lg-4 popup-animation" style="--animation-order: {{ project.id }}"
      *ngFor="let project of projects" data-aos="fade-up" data-aos-duration="600">
      <img routerLink="/projects/{{ project.id }}" src="{{ 'assets/projects/project-' + project.id + '.svg' }}" alt=""
        width="100%">
      <h2 routerLink="/projects/{{ project.id }}">{{ project.title }}</h2>
      <h4>{{ project.date }}</h4>
      <span routerLink="/research-areas/{{ project.areaId }}">{{ project.tag }}</span>
    </div>
  </div>
  <div *ngIf="showProducts == true" class="row projects-card gy-5">
    <div class="col-12 col-lg-4 popup-animation" style="--animation-order: {{ product.id }}"
      *ngFor="let product of products" data-aos="fade-up" data-aos-duration="600">
      <img routerLink="/products/{{ product.id }}" src="{{ 'assets/projects/project-' + product.id + '.svg' }}" alt=""
        width="100%">
      <h2 routerLink="/products/{{ product.id }}">{{ product.title }}</h2>
      <h4>{{ product.date }}</h4>
      <span>{{ product.tag }}</span>
    </div>
  </div>
  <div *ngIf="showAll == true" class="row projects-card gy-5">
    <div class="col-12 col-lg-4 popup-animation" style="--animation-order: {{ project.id }}"
      *ngFor="let project of projects" data-aos="fade-up" data-aos-duration="600">
      <img routerLink="/projects/{{ project.id }}" src="{{ 'assets/projects/project-' + project.id + '.svg' }}" alt=""
        width="100%">
      <h2 routerLink="/projects/{{ project.id }}">{{ project.title }}</h2>
      <h4>{{ project.date }}</h4>
      <span routerLink="/research-areas/{{ project.areaId }}">{{ project.tag }}</span>
    </div>
    <div class="col-12 col-lg-4 popup-animation" style="--animation-order: {{ product.id }}"
      *ngFor="let product of products" data-aos="fade-up" data-aos-duration="600">
      <img routerLink="/products/{{ product.id }}" src="{{ 'assets/projects/project-' + product.id + '.svg' }}" alt=""
        width="100%">
      <h2 routerLink="/products/{{ product.id }}">{{ product.title }}</h2>
      <h4>{{ product.date }}</h4>
      <span>{{ product.tag }}</span>
    </div>
  </div>
</div>
<app-careers-footer></app-careers-footer>
