.projects-card {

    img {
        border-radius: 15px;
        cursor: pointer;
        filter: brightness(1);
        transition: all .2s linear;
    }

    img:hover {
        filter: brightness(0.5);
        transition: all .2s linear;
    }

    h2 {
        font-weight: 400;
        font-size: 17px;
        color: var(--darkBlue);
        padding-top: 15px;
        padding-bottom: 0;
        margin-bottom: 0;
        cursor: pointer;
    }

    h4 {
        font-weight: 400;
        font-size: 12px;
        padding: 0px 0 10px 0;
        margin-bottom: 0;
        color: var(--grey);
    }

    span {
        padding: 5px 10px;
        border: 0.5px solid var(--darkBlue);
        border-radius: 70px;
        font-weight: 400;
        font-size: 12px;
        color: var(--darkBlue);
        cursor: pointer;
        transition: all .2s linear;
    }

    span:hover {
      color: var(--white);
      background: var(--darkBlue);
    }
}

button {
  font-weight: 400;
  font-size: 12px;
  color: var(--darkBlue);
  outline: none;
  border: none;
  border: 1px solid var(--darkBlue);
  border-radius: 70px;
  background: transparent;
  padding: 7px 20px;
  margin: auto 5px;
  transition: all .2s linear;
}

button:hover, button.active {
  color: var(--white);
  background: var(--darkBlue);
  border: 1px solid var(--darkBlue);
}
