<div id="project-details-content">
  <div *ngIf="project">
    <div class="project-header" style="background: url('assets/projects/header-images/project-{{project.pictureId}}-header.jpg');"
      data-aos="fade-up" data-aos-duration="600">
      <h2 class="text-center" data-aos="fade-up" data-aos-duration="600">{{ project.title }}</h2>
    </div>
    <div class="container">

      <!-- Project 0 -->
      <div class="project-content text-center" *ngIf="project.id == 0">
        <p data-aos="fade-up" data-aos-duration="600">
          The South Caspian Basin (SCB) is a young basin with a sedimentary rock column up to 25 km thick.
          High sedimentation rates, combined with other factors, resulted in abnormally high pore pressures,
          particularly in shales, over the last 5 million years. Understanding the nature and distribution of
          overpressure is a critical issue in exploration and reservoir engineering concepts, as well as
          drilling and completion operations. This project investigates the relationship between the effective
          stress and porosity in the shales of the Productive Series and how it is affected by the shale
          volume. Two disequilibrium compaction models, one proposed by Aplin et.al. (1995), and the second by
          Schneider et. al. (1994) were tested in the SCB for the first time.
        </p>
        <img src="assets/projects/project-0/image-1.jpg" alt="" width="100%" data-aos="fade-up" data-aos-duration="600">
      </div>

      <!-- Project 1 -->
      <div class="project-content text-center" *ngIf="project.id == 1">
        <p data-aos="fade-up" data-aos-duration="600">
          It is common during field development that certain areas of the structure, while containing
          appreciable oil and gas reserves, are complicated and negatively affected by certain geological
          features. Sometimes, vital information regarding reservoir properties and characterization is
          difficult or impossible to obtain from these regions for various reasons, which may include:
        </p>
        <ul data-aos="fade-up" data-aos-duration="600">
          <li>The scale of these geological features is below conventional well log resolution, requiring
            complex core acquisition or other expensive petrophysical techniques.</li>
          <li>Drilling these geological regions is too expensive for the uncertainty associated with the
            reservoir properties degradation caused by these geological features.</li>
          <li>
            The spatial distribution of such geological features is too complex to understand and design an
            economically viable field development plan.
          </li>
        </ul>
        <img src="assets/projects/project-1/image-1.jpg" alt="" width="100%" data-aos="fade-up" data-aos-duration="600">
        <p data-aos="fade-up" data-aos-duration="600">
          In the scenarios mentioned above, outcrop analog studies may help significantly enhance the
          subsurface understanding and help build a successful field development strategy. They can serve as a
          starting point toward characterization of reservoirs without spending much money on expensive data
          acquisition and surveillance.
          <br><br>
          In the Deep Water Gunashli (DWG) oil field, the complex, steeply dipping northern limb of the
          structure has historically been underdeveloped due to the presence of severe reservoir properties
          degradation associated with deformation bands. Recently, an appraisal campaign has been launched to
          understand the reservoir potential in this area. The vital part of this campaign was the Yasamal
          Analogue Outcrop Study done by the eiLink Team.
        </p>
        <img src="assets/projects/project-1/image-2.jpg" alt="" width="100%" data-aos="fade-up" data-aos-duration="600">
        <img src="assets/projects/project-1/image-3.jpg" alt="" data-aos="fade-up" data-aos-duration="600">
        <p data-aos="fade-up" data-aos-duration="600">The objective of the outcrop study during the first phase
          of the project was to acquire abundant
          geological information, including:
        </p>
        <ul data-aos="fade-up" data-aos-duration="600">
          <li>Dip angle/dip azimuth measurements along and across the stratigraphy using a field compass.</li>
          <li>Distribution and number of deformation bands per unit area.</li>
          <li>Gamma Ray log across the stratigraphy using a portable Gamma Ray tool.</li>
          <li>Permeability measurements from deformed and undeformed rocks using portable permeameters.</li>
          <li>Collection of numerous core plugs was acquired for further XRD analysis using a portable core
            acquisition tool.</li>
        </ul>
        <img src="assets/projects/project-1/image-4.jpg" alt="" width="100%" data-aos="fade-up" data-aos-duration="600">
        <img src="assets/projects/project-1/image-5.jpg" alt="" width="100%" data-aos="fade-up" data-aos-duration="600">
        <p data-aos="fade-up" data-aos-duration="600">
          Then, during the second phase of the project, the focus was to QC the acquired data and use it to
          come up with an essential geological analysis. The main objective was to observe what controls the
          presence and distribution of deformation bands in the outcrops. Finally, a similar analysis was made
          using subsurface data acquired from wells drilled in similar geological settings within the DWG
          structure with the aim to compare observations between outcrop and subsurface data.
          <br><br>
          To achieve the above-mentioned objectives, the acquisition of data was done, ensuring the most
          representative data was acquired. For instance, only steeply dipping regions of the outcrop were
          chosen as study locations, where data was mainly acquired along stratigraphy to mimic the subsurface
          setting. Prior to acquiring the data, the outcrop was cleaned from dust and other undesirable
          material to ensure accuracy. The tools were calibrated such that no errors were made due to tools
          reading inadequate information.
        </p>
        <img src="assets/projects/project-1/image-6.jpg" alt="" width="100%" data-aos="fade-up" data-aos-duration="600">
        <p data-aos="fade-up" data-aos-duration="600">
          The impact of this project was that vital geological insights and conclusions were drawn and used
          for the future reservoir characterization of the steeply dipping North Limb of the DWG structure.
          For instance, it was observed that there is a cut-off value of the Vshale derived from the GR log,
          indicating the presence of deformation bands as a function of shale content. Also, there is a good
          relationship between dip angle (which can be viewed as a proxy for how much deformation rocks have
          been exposed to) and the distribution of deformation bands per unit area. Finally, it was observed
          that broadly, the conclusions drawn in the outcrop environment honor the subsurface data from wells
          drilled in this part of the DWG area.
        </p>
      </div>

      <!-- Project 2 -->
      <div class="project-content text-center" *ngIf="project.id == 2">
        <p data-aos="fade-up" data-aos-duration="600">
          Estimation of the recovery factor from structurally deformed areas is a challenging process due to
          the high number of unknown parameters. These features are of subseismic scale, which are usually
          observed in sandstones and tend to deteriorate rock properties.
          <br><br>
          The goal is to build a 3D simulation model of the Yasamal sandstone layer with the distribution of
          deformation bands and evaluate their impact on fluid flow, recovery factor, and percentage of poorly
          swept grid cells. This approach is recognized as valid since the rocks of Yasamal Valley’s outcrops
          are accepted as analogous to the formations of offshore fields in the South Caspian Basin. Patterns
          of deformation bands are met at the East Limb of Yasamal structure, which was the main target area
          during the study.
        </p>
        <img src="assets/projects/project-2/image-1.jpg" alt="" width="100%" data-aos="fade-up" data-aos-duration="600">
        <p data-aos="fade-up" data-aos-duration="600">
          Quantifying the impact of deformed rocks is very significant in estimating overall sweep efficiency
          as well as interpreting dynamic parameter behaviour.
        </p>
        <img src="assets/projects/project-2/image-2.jpg" alt="" width="100%" data-aos="fade-up" data-aos-duration="600">
      </div>

      <!-- Project 3 -->
      <div class="project-content text-center" *ngIf="project.id == 3">
        <p data-aos="fade-up" data-aos-duration="600">
          Sustained casing pressure (SCP), defined as excessive casing pressure that constantly rebuilds after
          bleed-down, is undesirable and sometimes potentially dangerous for producing wells. It is a
          complicated phenomenon which cannot be described only with annulus pressure build-ups without
          integrated analysis of other parameters.
          <br><br>
          We developed a tool to improve monitoring of annulus pressures and detection of build-ups with
          minimum input by engineers. The tool allows engineers to easily separate build-up events caused by
          downhole pressure and temperature effects and to pay more attention to specific problematic ones. In
          order to determine the relationship between different parameters, Pearson’s correlation coefficient
          has been used.
          <br><br>
          In addition, the tool also demonstrates the relationship between downhole pressure of Cutting
          Re-Injection wells and B and C annuli of oil producing wells.
          <br><br>
          Our tool minimizes the work done by engineers by giving information about potential build-ups for
          different time periods and increases success for well integrity with improved monitoring and
          detection. It reduces analysis time and makes it possible to track and analyze around 200 well
          annulus pressure measurements simultaneously.
        </p>
        <img src="assets/projects/project-3/image-1.png" alt="" style="width:100%" data-aos="fade-up"
          data-aos-duration="600">
      </div>

      <!-- Project 4 -->
      <div class="project-content text-center" *ngIf="project.id == 4">
        <p data-aos="fade-up" data-aos-duration="600">
          Pore-scale displacement efficiency EPS also called displacement efficiency Ed, is a crucial parameter for the
          estimation of the ultimate oil recovery factor, accurate history matching, and production forecasting. In
          general, quantification of this parameter is complex since various phenomena such as wettability, pore
          geometry and topology, fluid properties, and capillary pressure have direct and indirect effects on it.
          <br><br>
          Multiphase fluid flow phenomena are quite complex and important in various natural and industrial processes,
          such as water infiltration into the soil, enhanced oil recovery, and CO2 sequestration. We will only consider
          immiscible displacements in the scope of this literature review. In general, fluid flow in porous media can be
          described as a function of capillary and viscous forces (ignoring gravitational forces).
          <br><br>
          Pore-scale displacement efficiency depends on several fluid, rock, and fluid-rock properties. Estimating EPS
          only from one standpoint would be a rough assumption. Currently, the main focus of the research community is
          on understanding how wettability, fluid viscosities, and displacement velocities influence residual oil
          saturation Sor, which is the most difficult parameter to predict in the EPS equation. Here, we will shortly
          discuss several experimental works addressing the abovementioned questions.
          <br><br>
          The objective of this study is to develop methodologies for accurate estimation of oil-water pore-scale
          displacement efficiency for the ACG field. Furthermore, to come up with a methodology of embedding 𝐸𝑃𝑆 from
          the newly developed approach into reservoir simulation models.
          <br><br>
          The new database was created which is the integration of several data sources:
        </p>
        <ul data-aos="fade-up" data-aos-duration="600">
          <li>Results of core-flooding experiments (various EPS’es., etc.)</li>
          <li>Other conditions of core-flooding experiments (state & type of the flooding, temperature, net overburden,
            etc.)</li>
          <li>Acquisition methods of 𝑆𝑤𝑖</li>
          <li>Mineralogical composition from XRD data</li>
          <li>MICP derived parameters</li>
          <li>Routine Core Analysis (RCAL) data</li>
        </ul>
        <img src="assets/projects/project-4/image-1.jpg" alt="" style="width:100%" data-aos="fade-up"
          data-aos-duration="600">
        <p data-aos="fade-up" data-aos-duration="600">
          The complex nature of two-phase immiscible fluid flow in porous media mentioned in the literature review
          section shows how challenging it is to estimate residual oil saturation Sor and hence pore-scale displacement
          efficiency EPS. It was experimentally proven that ultimate Sor depends on the interplay of many parameters,
          such as wettability, viscosity ratio of fluids, the injection rate of displacing fluid, interfacial tension
          (e.g., water-oil), initial water saturation, and geometry and topology of porous media.
        </p>
        <img src="assets/projects/project-4/image-2.jpg" alt="" style="width:100%" data-aos="fade-up"
          data-aos-duration="600">
        <p data-aos="fade-up" data-aos-duration="600">
          Hence, we build our methodology based on the involvement of the abovementioned parameters and we will observe
          that the estimation of 𝐸𝑃𝑆 only from one or two aspects does not give accurate results.
          <br><br>
          The importance of EPS and its effect on the ACG Bal VIII reservoir simulation model was estimated by
          quantifying the impact on cumulative production of the field as well as understanding the behavior of
          individual wells from oil-water production perspectives.
        </p>
      </div>

      <!-- Project 5 -->
      <div class="project-content text-center" *ngIf="project.id == 5">
        <p data-aos="fade-up" data-aos-duration="600">
          Formation of water salinity is important for understanding the hydrodynamic system in a sedimentary
          basin, including areas of hydraulic communication and isolation, and has implications for the
          prediction of formation pressure, characterization of hydrocarbon migration pathways, and estimating
          the risk of a trap being flushed. An unknown mechanism of formation water salinity distribution in
          Shahdeniz creates challenges from several aspects, as it impacts log resistivity readings, which
          results in erroneous saturation estimations. Among existing methods of predicting salinity, the most
          effective is a direct measurement of water resistivity or brine chemistry analysis. The pitfall of
          these methods is that they require core extraction from a well. Our product is able to predict
          formation water salinity using the available well data, as well as to understand the mechanism of
          salinity distribution and impacting factors like rock mineralogy, impact of ultra-dispersed
          particles (UDP), capillary pressure, dynamic disequilibrium, etc.
        </p>
      </div>

      <!-- Project 6 -->
      <div class="project-content text-center" *ngIf="project.id == 6">
        <p data-aos="fade-up" data-aos-duration="600">
          Several types of challenges take place during drilling that include wellbore instability, stuck
          pipe, fluid losses, etc. Reasons associated with these problems are understood to some degree on a
          qualitative level, but it is unclear in which conditions the combination of different drilling and
          rock parameters results in a drilling issue. Additionally, no tool exists that can predict the risks
          prior to drilling. The goal of the project was to create a tool that can analyze all drilling
          parameters (ROP, RPM, PRESSPIPE, etc.) in combination with rock properties (V-shale, DEN) and PPFG
          data ( pore pressure, fracture pressure) and give a prediction of the probability of risk
          occurrence.
        </p>
      </div>

      <!-- Project 7 -->
      <div class="project-content text-center" *ngIf="project.id == 7">
        <p data-aos="fade-up" data-aos-duration="600">
          The framework of the project was to solve the problem of irrigation in the Hajigabul irrigation area
          by evaluating subsurface freshwater reserves potential and the use of runoff water from surface
          flooding events.
          <br><br>
          The projects’ objectives were the analysis of the soil and climate characteristics in terms of
          agriculture and surface water resources, using Geographical Information Systems and climate and
          precipitation intensity data of the last 40 years of the Hajigabul-Padarchol agricultural area, and
          the preliminary analysis of surface flows and flood events formed in the mountainous area. It
          consists of research work on the preparation of a 3D simulation model, the preliminary analysis of
          groundwater and the study of irrigation potential. The groundwater potential of the area was
          investigated considering the geological background of the surrounding area and logging data from
          several exploration wells available near the target area.
        </p>
        <img src="assets/projects/project-7/image-1.jpg" alt="" width="100%" data-aos="fade-up" data-aos-duration="600">
        <p data-aos="fade-up" data-aos-duration="600">
          Significant water reserves have been found in depths below 300 meters. The water due to the
          geological setting is considered saline and unconfined, so the new well drilling, water extraction
          using pumps and desalination costs have been estimated. The chemical content of the runoff water
          coming from the nearby mud volcano is considered unsafe to use for irrigation purposes, and it is
          proposed to redirect the channels coming from that area, which will increase the productivity of the
          actual irrigation lands. A 3D topographical model, as well as a flooding event simulation, have been
          created by the BSU researchers. The amount of average rain precipitation has been estimated and
          forecasted with detailed probability statistics. With water collected from flooding, 150 hectares of
          arable land can be provided with irrigation water. In order to collect rainwater, 5–6 ponds with a
          useful volume of 120–180 thousand cubic meters each should be created. A system of catchment canals
          with a total length of 80 km should be established to direct rainwater to the ponds. Considering the
          geometry of the land, the flood water management map has been created.
        </p>
        <img src="assets/projects/project-7/image-2.jpg" alt="" width="100%" data-aos="fade-up" data-aos-duration="600">
      </div>

      <!-- Project 8 -->
      <div class="project-content text-center" *ngIf="project.id == 8">
        <p data-aos="fade-up" data-aos-duration="600">
          Deformed rock areas create challenges for fluid flow due to deteriorating rock properties and creating flow
          barriers, thus making the recovery factor difficult to predict. The mechanism of deformation bands’
          distribution in the field is unknown, and only cores can validate their presence.
          <br><br>
          In this project, we analyzed Geotap pressure data to characterize the deformation bands, as this data can be
          represented as a mini-well test analysis and deformation bands can be analyzed as small-scale faults.
        </p>
        <figure data-aos="fade-up" data-aos-duration="600">
          <img src="assets/projects/project-8/image-1.jpg" alt="" style="width:100%">
          <figcaption>Geotap tool overview</figcaption>
        </figure>
        <p data-aos="fade-up" data-aos-duration="600">
          We analyze Geotap pressure data along with cores as they are the only validation source for bands’ presence.
        </p>
        <figure data-aos="fade-up" data-aos-duration="600">
          <img src="assets/projects/project-8/image-2.jpg" alt="" style="width:100%">
          <figcaption>Geotap tool recording. Pressure vs time profile</figcaption>
        </figure>
        <p data-aos="fade-up" data-aos-duration="600">
          Our team concluded that transient analysis of pressure data can`t be used to detect small-scale deformation
          bands (when drawdown duration is 10 seconds).
          <br><br>
          Additionally, we have also built and simulated reservoir models with deformation bands to mimic the Geotap
          tool behavior.
        </p>
        <figure data-aos="fade-up" data-aos-duration="600">
          <img src="assets/projects/project-8/image-3.jpg" alt="" style="width:100%">
          <figcaption>Modelling Geotap tool performance on a 3D model</figcaption>
        </figure>
        <p data-aos="fade-up" data-aos-duration="600">
          The simulation results revealed that the given GeoTap configurations are unable to detect the presence of
          deformation bands (when drawdown duration is 10 seconds).
        </p>
        <figure data-aos="fade-up" data-aos-duration="600">
          <img src="assets/projects/project-8/image-4.jpg" alt="" style="width:100%">
          <figcaption>Pressure profile of deformed rock system for 3 models.</figcaption>
        </figure>
      </div>

      <!-- Project 9 -->
      <div class="project-content text-center" *ngIf="project.id == 9">
        <p data-aos="fade-up" data-aos-duration="600">
          Control valves may be the most important, but sometimes the most neglected, part of a control loop. A control
          valve is used to control the rate of flow in a line. The “controller” receives the pressure signals and
          compares them with pressure drop for the desired flow and if it is different, it adjusts the control valve to
          increase or decrease the flow.
          <br><br>
          But sometimes Internal control valve (ICV) performance of multizone injector (MZI) wells deteriorates with
          time resulting in complete zonal failures. It is important to monitor ICV performance to foresee and mitigate
          these events. Key performance indicators (KPIs) of ICV performance include a detailed inspection of pressure
          lines, ICV positions, injection rates, etc. These are labor-intensive and routine work. We have built an
          algorithm that can identify each closure event and perform an analysis of the required KPI to evaluate ICV
          performance. An algorithm also provides a summary table for each closure event with a dashboard that makes the
          evaluation process much faster and more interactive.
        </p>
        <img src="assets/projects/project-9/image-1.jpg" alt="" width="100%" data-aos="fade-up" data-aos-duration="600">
        <p data-aos="fade-up" data-aos-duration="600">
          A Palantir-based toolkit was used in this project to automate and standardize ICV Performance. Creating and
          deploying a custom algorithm on Palantir has many advantages:
        </p>
        <ul data-aos="fade-up" data-aos-duration="600">
          <li>Identify each closure event</li>
          <li>Identify start and end times of common and open lines pressurization and bleed off</li>
          <li>Identify individual ICV closure start and end times, hence the closure duration</li>
          <li>Capture and display all closure-related statistics on custom Slate dashboards</li>
        </ul>
        <p data-aos="fade-up" data-aos-duration="600">
          The given product eliminates manual input and visual inspection. Additionally, it increases the predictability
          of ICV failures, minimizes consequences, and gives insights on ICV operations.
        </p>
      </div>

    </div>
    <div class="container project-details mt-3 p-0" data-aos="fade-up" data-aos-duration="600">
      <!-- <div class="line-break"></div> -->
      <div class="d-flex flex-column flex-md-row">
        <h5 class="author" data-aos="fade-up" data-aos-duration="600"><i class="bi bi-person-fill"></i> {{
          project.author }}</h5>
        <h5 class="date" data-aos="fade-up" data-aos-duration="600"><i class="bi bi-calendar-event-fill"></i> {{
          project.date }}</h5>
      </div>
    </div>
  </div>


</div>
