<div id="project-details-content">
  <div *ngIf="product">
    <div class="project-header" style="background: url('assets/projects/header-images/product-{{product.pictureId}}-header.jpg');"
      data-aos="fade-up" data-aos-duration="600">
      <h2 class="text-center" data-aos="fade-up" data-aos-duration="600">{{ product.title }}</h2>
    </div>
    <div class="container">

      <!-- Project 0 -->
      <div class="project-content text-center" *ngIf="product.id == 0">
        <p data-aos="fade-up" data-aos-duration="600">
          About 70% of the world’s hydrocarbon reserves are contained in weakly consolidated sandstone reservoirs, and
          hence they are prone to sand production. Sandstone degradation and detachment of particles are caused by the
          strength-weakening effect of water, depletion of reservoir pressure, operational conditions, and a
          high-pressure gradient of fluid flow. Producing sand is a very complex challenge in the oil and gas industry
          as it can create serious problems, including but not limited to abrasion of downhole tubular/casing,
          subsurface and surface equipment; casing/tubing buckling, failure of casing or liners from the removal of
          surrounding formation, compaction and erosion; and loss of production caused by sand bridging in tubing and/or
          flow lines, adversely affecting oil-water separation. This creates both safety and economic concerns by
          harming the integrity of the well and reducing hydrocarbon reduction.
          <br><br>
          One way of mitigating sand production issues is to predict it beforehand its occurrence. Previously, different
          approaches, such as numerical models, analytical and empirical relationships, and physical model testing, have
          been developed to overcome this issue. These approaches, however, have not gained industry reliance and have
          not been applied in day-to-day operations due to their limitations. Our purpose is to propose an easy-to-use
          and reliable solution for the customer that can constantly be utilized in daily operations by the petroleum
          engineers.
          <br><br>
          To solve this complex and multidimensional problem, we take a physics-based, data-driven approach using
          machine learning techniques. The initial step was to create an integrated database of Completion, Production
          and Petrophysics data by collecting from various resources. Although some data is readily available, most of
          it is obtained using advanced feature engineering techniques. The crucial step of using data in a diligent way
          comes from understanding which physical parameters have a direct or indirect impact on sand production. Data
          analytics techniques have been used to recognize previously unknown patterns in the wells by revealing key
          reasons and parameters distinguishing sandy and non-sandy wells on a quantitative level.
          <br><br>
          Currently, conventional machine learning algorithms are used to predict the probability of having sand in the
          wells. The goal of the machine learning algorithm is to separate sandy from non-sandy wells based on
          combinations of the input parameters. Training and test data have been customized and logically prepared to
          maximize the accuracy of the machine-learning model. Different algorithms are tested in parallel to compare
          the performance and abilities of models and select the most suitable one for the sand production prediction
          problem.
          <br><br>
          The project is currently in its third phase, and until now, we have been able to differentiate between wells
          that are at risk of sand production and non-concerning ones. The next stage intends to predict the approximate
          time and conditions at which sand will be produced for each well during its lifetime. The model will receive
          dynamic and static data on a daily basis, and if a petroleum engineer observes an increasing probability
          within a certain timeframe, they can take a series of actions beforehand to prevent potential sand production.
          <br><br>
          Besides, the integrated database of completion, production, and petrophysics data has become a very valuable
          source for data analytics and to answer important questions of customers about historical production trends,
          the health of the wells, and potential causes of sanding.
        </p>
      </div>


    </div>
    <div class="container project-details mt-3 p-0" data-aos="fade-up" data-aos-duration="600">
      <!-- <div class="line-break"></div> -->
      <div class="d-flex flex-column flex-md-row">
        <h5 class="author" data-aos="fade-up" data-aos-duration="600"><i class="bi bi-person-fill"></i> {{
          product.author }}</h5>
        <h5 class="date" data-aos="fade-up" data-aos-duration="600"><i class="bi bi-calendar-event-fill"></i> {{
          product.date }}</h5>
      </div>
    </div>
  </div>


</div>
