<div id="project-details-content">
  <div *ngIf="product">
      <div class="project-header" style="background: url('assets/projects/project-{{product.id}}-header.svg');"
          data-aos="fade-up" data-aos-duration="600">
          <h2 class="text-center" data-aos="fade-up" data-aos-duration="600">{{ product.title }}</h2>
      </div>
      <div class="container">

          <!-- Project 0 -->
          <div class="project-content text-center" *ngIf="product.id == 0">
              <p data-aos="fade-up" data-aos-duration="600">
                  The South Caspian Basin (SCB) is a young basin with a sedimentary rock column up to 25 km thick.
                  High sedimentation rates, combined with other factors, resulted in abnormally high pore pressures,
                  particularly in shales, over the last 5 million years. Understanding the nature and distribution of
                  overpressure is a critical issue in exploration and reservoir engineering concepts, as well as
                  drilling and completion operations. This project investigates the relationship between the effective
                  stress and porosity in the shales of the Productive Series and how it is affected by the shale
                  volume. Two disequilibrium compaction models, one proposed by Aplin et.al. (1995), and the second by
                  Schneider et. al. (1994) were tested in the SCB for the first time.
              </p>
              <img src="assets/projects/project-0/image-1.jpg" alt="" width="100%" data-aos="fade-up"
                  data-aos-duration="600">
          </div>

          <!-- Project 1 -->
          <div class="project-content text-center" *ngIf="product.id == 1">
              <p data-aos="fade-up" data-aos-duration="600">
                  It is common during field development that certain areas of the structure, while containing
                  appreciable oil and gas reserves, are complicated and negatively affected by certain geological
                  features. Sometimes, vital information regarding reservoir properties and characterization is
                  difficult or impossible to obtain from these regions for various reasons, which may include:
              </p>
              <ul data-aos="fade-up" data-aos-duration="600">
                  <li>The scale of these geological features is below conventional well log resolution, requiring
                      complex core acquisition or other expensive petrophysical techniques.</li>
                  <li>Drilling these geological regions is too expensive for the uncertainty associated with the
                      reservoir properties degradation caused by these geological features.</li>
                  <li>
                      The spatial distribution of such geological features is too complex to understand and design an
                      economically viable field development plan.
                  </li>
              </ul>
              <img src="assets/projects/project-1/image-1.jpg" alt="" width="100%" data-aos="fade-up"
                  data-aos-duration="600">
              <p data-aos="fade-up" data-aos-duration="600">
                  In the scenarios mentioned above, outcrop analog studies may help significantly enhance the
                  subsurface understanding and help build a successful field development strategy. They can serve as a
                  starting point toward characterization of reservoirs without spending much money on expensive data
                  acquisition and surveillance.
                  <br><br>
                  In the Deep Water Gunashli (DWG) oil field, the complex, steeply dipping northern limb of the
                  structure has historically been underdeveloped due to the presence of severe reservoir properties
                  degradation associated with deformation bands. Recently, an appraisal campaign has been launched to
                  understand the reservoir potential in this area. The vital part of this campaign was the Yasamal
                  Analogue Outcrop Study done by the eiLink Team.
              </p>
              <img src="assets/projects/project-1/image-2.jpg" alt="" width="100%" data-aos="fade-up"
                  data-aos-duration="600">
              <img src="assets/projects/project-1/image-3.jpg" alt="" data-aos="fade-up" data-aos-duration="600">
              <p data-aos="fade-up" data-aos-duration="600">The objective of the outcrop study during the first phase
                  of the project was to acquire abundant
                  geological information, including:
              </p>
              <ul data-aos="fade-up" data-aos-duration="600">
                  <li>Dip angle/dip azimuth measurements along and across the stratigraphy using a field compass.</li>
                  <li>Distribution and number of deformation bands per unit area.</li>
                  <li>Gamma Ray log across the stratigraphy using a portable Gamma Ray tool.</li>
                  <li>Permeability measurements from deformed and undeformed rocks using portable permeameters.</li>
                  <li>Collection of numerous core plugs was acquired for further XRD analysis using a portable core
                      acquisition tool.</li>
              </ul>
              <img src="assets/projects/project-1/image-4.jpg" alt="" width="100%" data-aos="fade-up"
                  data-aos-duration="600">
              <img src="assets/projects/project-1/image-5.jpg" alt="" width="100%" data-aos="fade-up"
                  data-aos-duration="600">
              <p data-aos="fade-up" data-aos-duration="600">
                  Then, during the second phase of the project, the focus was to QC the acquired data and use it to
                  come up with an essential geological analysis. The main objective was to observe what controls the
                  presence and distribution of deformation bands in the outcrops. Finally, a similar analysis was made
                  using subsurface data acquired from wells drilled in similar geological settings within the DWG
                  structure with the aim to compare observations between outcrop and subsurface data.
                  <br><br>
                  To achieve the above-mentioned objectives, the acquisition of data was done, ensuring the most
                  representative data was acquired. For instance, only steeply dipping regions of the outcrop were
                  chosen as study locations, where data was mainly acquired along stratigraphy to mimic the subsurface
                  setting. Prior to acquiring the data, the outcrop was cleaned from dust and other undesirable
                  material to ensure accuracy. The tools were calibrated such that no errors were made due to tools
                  reading inadequate information.
              </p>
              <img src="assets/projects/project-1/image-6.jpg" alt="" width="100%" data-aos="fade-up"
                  data-aos-duration="600">
              <p data-aos="fade-up" data-aos-duration="600">
                  The impact of this project was that vital geological insights and conclusions were drawn and used
                  for the future reservoir characterization of the steeply dipping North Limb of the DWG structure.
                  For instance, it was observed that there is a cut-off value of the Vshale derived from the GR log,
                  indicating the presence of deformation bands as a function of shale content. Also, there is a good
                  relationship between dip angle (which can be viewed as a proxy for how much deformation rocks have
                  been exposed to) and the distribution of deformation bands per unit area. Finally, it was observed
                  that broadly, the conclusions drawn in the outcrop environment honor the subsurface data from wells
                  drilled in this part of the DWG area.
              </p>
          </div>

      </div>
      <div class="container project-details mt-3 p-0" data-aos="fade-up" data-aos-duration="600">
          <!-- <div class="line-break"></div> -->
          <div class="d-flex flex-column flex-md-row">
              <h5 class="author" data-aos="fade-up" data-aos-duration="600"><i class="bi bi-person-fill"></i> {{ product.author }}</h5>
              <h5 class="date" data-aos="fade-up" data-aos-duration="600"><i class="bi bi-calendar-event-fill"></i> {{ product.date }}</h5>
          </div>
      </div>
  </div>


</div>
