
<div id="careers-page">
  <div class="careers-header" style="background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('assets/lorem-img/career-header.jpg');" data-aos="fade-up"
    data-aos-duration="600">
    <h1 class="text-center">Careers</h1>
  </div>
  <div class="container">
    <div class="careers-path">
      <div class="life">
        <h1>Life at eiLink</h1>
        <button routerLink="/careers/life-at-eilink">Read More</button>
      </div>
      <div class="opportunities">
        <h1>Career & Development</h1>
        <button routerLink="/careers/job-opportunities">Read More</button>
      </div>
    </div>
  </div>
</div>
