<div class="container overflow-hidden">
    <div class="section-heading">
        <h1>Latest Blog Posts</h1>
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac
                    aliquet odio mattis.</p>
            </div>
            <div class="col-12 col-lg-6">
                <button routerLink="/blog">View All Posts<i class="bi bi-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="row blog-posts">
        <div class="col-12 col-lg-4">
            <img src="assets/lorem-img/blog-1.svg" alt="" width="100%">
            <div class="blog-details d-flex flex-column">
                <h4 style="color: var(--pink);">News</h4>
                <h2>A successful application of the S.I.Q.E. algorithm on seismic data for 3 prospects in the SWAP area</h2>
                <a>Learn More<i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <img src="assets/lorem-img/blog-2.svg" alt="" width="100%">
            <div class="blog-details d-flex flex-column">
                <h4 style="color: var(--lightPink);">Article</h4>
                <h2>A successful application of the S.I.Q.E. algorithm on seismic data for 3 prospects in the SWAP area</h2>
                <a>Learn More<i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <img src="assets/lorem-img/blog-3.svg" alt="" width="100%">
            <div class="blog-details d-flex flex-column">
                <h4 style="color: var(--orange);">Project</h4>
                <h2>A successful application of the S.I.Q.E. algorithm on seismic data for 3 prospects in the SWAP area</h2>
                <a>Learn More<i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>