<div class="container overflow-hidden">
  <div class="section-heading" data-aos="fade-up" data-aos-duration="600">
    <div class="row align-items-center">
      <div class="col-12">
        <h1>Latest Blog Posts</h1>
        <p>Stay up to date with our latest blog posts, where we share valuable insights, expert perspectives, and timely
          updates on industry trends. Explore a wide range of topics, as we
          strive to provide informative content that informs and inspires.</p>
      </div>
    </div>
  </div>
  <div class="blog-posts">
    <div class="blog-card" data-aos="fade-up" data-aos-duration="600"
      *ngFor="let post of posts | paginate: {itemsPerPage: 3, currentPage: 1}" style="background: url('{{post.cover}}');">
      <div class="blog-details">
        <button routerLink="/blog/{{ post.id }}">Read More</button>
      </div>
    </div>
  </div>
  <div class="m-auto text-center" data-aos="fade-up" data-aos-duration="600">
    <button class="view-all" routerLink="/blog">View All</button>
  </div>
</div>
