.people-header {
  background-position: center !important;
  background-size: cover !important;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    color: var(--white);
    letter-spacing: 1px;
    max-width: 660px;
  }
}

.people-card {

  .waverity {
    margin-left: 5px;
    margin-top: 3px;
    cursor: pointer;
  }

  h2 {
    font-weight: 400;
    font-size: 18px;
    color: var(--darkBlue);
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

h4 {
    font-weight: 400;
    font-size: 12px;
    line-height: 0;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 0;
    color: var(--grey);
}
}

.img-hover {
  position: relative;
  width: 100%;
  cursor: pointer;

  img {
    border-radius: 15px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    border-radius: 15px;
    background: rgba($color: #000000, $alpha: 0.65);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s ease;

    i {
      margin: auto 5px;
      font-size: 20px;
    }
  }
}

.img-hover:hover {

  .overlay {
    opacity: 1;
  }
}
