.people-header {
  background-position: center !important;
  background-size: cover !important;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    color: var(--white);
    text-align: center;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    color: var(--white);
    letter-spacing: 1px;
    max-width: 660px;
  }
}

.people-card {

  .waverity {
    margin-left: 5px;
    margin-top: 3px;
    cursor: pointer;
  }

  h2 {
    font-weight: 400;
    font-size: 18px;
    color: var(--darkBlue);
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

h4 {
    font-weight: 400;
    font-size: 12px;
    line-height: 0;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 0;
    color: var(--grey);
}
}

.img-hover {
  width: 100%;

  img {
    border-radius: 15px;
  }

}

.img-hover:hover {

  .overlay {
    opacity: 1;
  }
}
